ops ~= 2.5
git+https://github.com/charmed-kubernetes/interface-kube-control.git@release_1.31#subdirectory=ops
git+https://github.com/charmed-kubernetes/interface-tls-certificates.git@release_1.31#subdirectory=ops

